@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: #00c6ff;
  color: #fff;
  font-family: "VT323", sans-serif;
  margin: 0;
  height: 100vh;
  text-align: center;
  overflow: hidden;
}

h1 {
  font-size: 5rem;
  color: #fff;
}

.btn {
  border-radius: 0;
  font-size: 2rem;
  background-color: #fff;
  color: #00c6ff;
}

.btn:focus {
  box-shadow: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn:hover {
  transform: scale(0.98);
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
}

.screen.up {
  margin-top: -100vh;
}

.choose-insect img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.insects-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.insects-list li {
  margin: 5px;
}

.choose-insect {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  width: 150px;
  height: 200px;
}

.choose-insect:hover {
  background-color: #fff;
  color: #00c6ff;
}

.game-container {
  position: relative;
}

.time,
.score {
  position: absolute;
  top: 20px;
  font-size: 2rem;
}

.time {
  left: 20px;
}

.score {
  right: 20px;
}

.message {
  line-height: 1.7;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 20px;
  z-index: 100;
  text-align: center;
  font-size: 1.25rem;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -150%);
  transition: transform 0.4s ease-in;
}

.message.visible {
  opacity: 1;
  transform: translate(-50%, 150%);
}

.insect {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 0.3s ease-out;

}

.insect.caught {
  transform: translate(-50%, -50%) scale(0);
}

.insect img {
  width: 100px;
  height: 100px;
}